$link-color: #0366d6;
$btn-primary-color: #61DAFB;
$base-button-color: #f7f7f7;

$sidebar-color: #f7f7f7;
$nav-child-link-color: $grey-dk-100;
$search-result-preview-color: $grey-dk-000;

$body-text-color: #333333;
$body-heading-color: #333333;
$search-result-preview-color: #5c5962;

$code-background-color: #f5f6fa;
$search-background-color: #ffffff;
$table-background-color: #ffffff;
$feedback-color: darken($sidebar-color, 3%);

// The following highlight theme is more legible than that used by just-the-docs
@import "./color_schemes/syntax-one-dark";

// Custom styles
@import "./custom";
